:root {
  --mantle: rgb(30, 30, 46);
  --sky: rgb(137, 220, 235);
  --crust: rgb(17, 17, 27);
  --lavender: rgb(180, 190, 254);
}

body {
  margin: 0;
  font-family: "Gergia", serif;
  font-size: 16px;
  color: gainsboro;
  background-color: var(--crust);
  overflow-wrap: break-word;
}

div.sourceCode {
  padding: 0.5rem;
  background-color: var(--mantle);
  border-radius: 3px;
  overflow-x: scroll;
}

code {
  font-family: "Iosevka Web", monospace;
}

blockquote {
  background-color: var(--mantle);
  color: var(--lavender);
  margin: 0;
  padding: 1rem;
  font-style: italic;
  border-radius: 3px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote footer {
  text-align: right;
  color: gainsboro;
  padding: 0.5rem;
}

header {
  padding: 1.5rem;
}

main {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 1rem;
}

a {
  color: var(--sky);
}

h1 {
  font-family: "Verdana", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0.5rem 0;
}

h2 {
  font-family: "Garamond", serif;
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--sky);
  margin: 0.5rem 0;
}

h3 {
  font-family: "Verdana", sans-serif;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: var(--lavender);
}

p {
  line-height: 2;
  margin: 0.5rem 0;
  text-align: justify;
}

@font-face {
  font-family: "Iosevka Web";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/assets/Iosevka-Regular.woff2") format("woff2");
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--mantle);
  border-radius: 3px;
}

figure figcaption {
  font-style: italic;
}
